@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Inconsolata:wght@200;300;400;500;600;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Major Mono Display', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Inconsolata', monospace;
*/


body {
	background-color: #050505;
	margin: 0;
}


#container {
    clear:both;
	width:100%;
	margin-left:auto;
	margin-right:auto;

}


header {
	position:fixed;
	left:0px;
	top:0px;
	height: auto;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
	text-align:center;
	color: #fafafa;
	box-shadow: 0px 5px 20px 1px #000; 
	background-color:#0d0d0d;
	background: linear-gradient(45deg, rgba(16,16,16,.4) 25%, rgba(0,7,93,.4) 30%, rgba(1,97,116,.4) 40%, rgba(5,135,59,.4) 45%, rgba(128,135,3,.4) 50%, rgba(143,121,5,.4) 55%, rgba(140,82,12,.4) 60%, rgba(31,7,85,.4) 65%, rgba(16,16,16,.4) 75%);
    z-index: 99;
}

header h1 {
    float:left;
    width: 25%;
    margin-top:0px;	
	text-align: left;	
	margin-left:10%;
    font: 30pt 'Roboto', sans-serif;
    text-shadow: 3px 2px 2px #3d3d3d;
	font-weight: 500;
	font-style: italic;
    color: #fafafa;
}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
    color: #fafafa;
    text-decoration:none;
}

nav {
	float: right;
	width: auto;
	text-align: right;	
	margin-right: 10%;
}

nav li {
	float: left;
	list-style-type: none;
    font: 16pt  'Roboto Mono', monospace;
    text-shadow: 0px 0px 2px #808080;
	padding-right: 20px;
}


main {
	position:relative;
	top: 100px;
}

main section {
	height: auto;
	padding: 5%;
	color: #ebebeb;
}

main section:nth-child(odd) {
    background-color: #050505;
  }


#home {
	background-color: #050505;
}

/* Slideshow container */
.slideshow-container {
	box-sizing: border-box;
	max-width: 80%;
 	position: relative;
  	margin: auto;
}

/* Hide the images by default */
.mySlides {
	box-sizing: border-box;
  	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none; 
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	box-sizing:border-box;
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/*#homeImage {
	text-align: center;
}

#homeImage img {
	max-width: 80%;
	height: auto;
}
*/

#links {
	background-color: #121212;
}

#linksGraphic {
	width: 90%;
	height: auto;
	background: radial-gradient(farthest-corner at 750px 900px, rgba(16,16,16,.4) 20%, rgba(0,7,93,.4) 25%, rgba(1,97,116,.4) 35%, rgba(5,135,59,.4) 40%, rgba(128,135,3,.4) 45%, rgba(143,121,5,.4) 50%, rgba(140,82,12,.4) 55%, rgba(31,7,85,.4) 70%, rgba(16,16,16,.4) 80%),
		linear-gradient(105deg, rgba(16,16,16,.4) 20%, rgba(0,7,93,.4) 25%, rgba(1,97,116,.4) 35%, rgba(5,135,59,.4) 40%, rgba(128,135,3,.4) 45%, rgba(143,121,5,.4) 50%, rgba(140,82,12,.4) 55%, rgba(31,7,85,.4) 70%, rgba(16,16,16,.4) 80%),
		linear-gradient(357deg, rgba(16,16,16,.7) 20%, rgba(0,7,93,.7) 25%, rgba(1,97,116,.7) 35%, rgba(5,135,59,.7) 40%, rgba(128,135,3,.7) 45%, rgba(143,121,5,.7) 50%, rgba(140,82,12,.7) 55%, rgba(31,7,85,.7) 70%, rgba(16,16,16,.7) 80%);
	opacity: .9;
	border-radius: 1%;
	box-shadow: 0px 5px 20px 2px #000, inset 0px 0px 20px 5px rgba(0,0,0,.9), inset 0px 0px 50px 5px rgba(0,0,0,0.7);
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#linksText {
	width: auto;
	height: auto;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#linksText p { 
	color: #050505;
	margin: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 40pt;
	font-weight: 900;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(250, 250, 250, .3), -1px -1px 0px rgba(250, 250, 250, .1);
}

#linksText p a:link {
	color: #050505;
	text-decoration:none;
}

#linksText p a:visited {
	color: #050505;
}

#linksText p a:hover {
	color:rgba(207, 200, 0, .8);
	text-shadow: none;
}

#linksText p a:active {
	color:rgba(207, 200, 0, .8);
	text-shadow: none;
}


#contact {
	background-color: #050505;
	font: 14pt 'Roboto', sans-serif;	
}

footer {
	position:relative;
	top: 70px;
	height:100px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background-color: #121212;
	color:#ebebeb;
	font: 10pt 'Roboto', sans-serif;
    text-align: center;
	padding-top: 10px;
	background: linear-gradient(45deg, rgba(16,16,16,.1) 25%, rgba(0,7,93,.1) 30%, rgba(1,97,116,.1) 40%, rgba(5,135,59,.1) 45%, rgba(128,135,3,.1) 50%, rgba(143,121,5,.1) 55%, rgba(140,82,12,.1) 60%, rgba(31,7,85,.1) 65%, rgba(16,16,16,.1) 75%);
}


a:link {
	color:#fafafa;
	text-decoration:none;
}

a:visited {
	color:#fafafa;
}
	
a:hover {
	color:#cfc800;
}

a:active {
	color:#cfc800;
}