@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Inconsolata:wght@200;300;400;500;600;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Major Mono Display', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Inconsolata', monospace;
*/

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
	background-color: #050505;
	margin: 0;
}


#container {
    clear:both;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}


header {
	position: static;
	left:0px;
	top:0px;
	width: 100%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}

#headerScroll {
	position:fixed;
	left:0px;
	top:0px;
	width: 100%;
	max-height: 120px;
	margin-left:auto;
	margin-right:auto;
	color: #fafafa;
	box-shadow: 0px 5px 10px 1px #000; 
	background-color:#0d0d0d;
	background: linear-gradient(45deg, rgba(16,16,16,.4) 5%, rgba(0,7,93,.4) 25%, rgba(1,97,116,.4) 35%, rgba(5,135,59,.4) 45%, rgba(128,135,3,.4) 50%, rgba(143,121,5,.4) 55%, rgba(140,82,12,.4) 60%, rgba(31,7,85,.4) 75%, rgba(16,16,16,.4) 95%);
    z-index: 99;
}

header h1 {
    float:left;
    width: 25%;
    margin-top: 0;	
	text-align: left;	
	margin-left: 10%;
    font: 28pt 'Roboto', sans-serif;
    text-shadow: 3px 2px 2px #3d3d3d;
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: italic;
    color: #fafafa;
}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
    color: #fafafa;
    text-decoration:none;
}

nav {
	float: right;
	width: auto;
	text-align: right;	
	margin-right: 10%;
}

nav li {
	float: left;
	list-style-type: none;
    font: 16pt 'Roboto Mono', monospace;
    text-shadow: 0px 0px 2px #808080;
	padding-top: 30px;
}

main section {
	color: #ebebeb;
	padding-top: 5%;
	padding-bottom: 5%;
}

main section:nth-child(odd) {
    background-color: #050505;
}

/* BEGIN SLIDESHOW */

/*Home Section / Slideshow container*/
#homeSlideshow {
	width: 60%;
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-color: #050505;
	flex: auto;
	
}

/*Image Box*/
#slideshowContainer {
	width: 100%;
	min-width: 0;
	max-height: 100%;
	display: flex;
	animation: slide 30s infinite;
}

/*Slideshow images*/
#slideshowContainer img {
	width: 100%;
	height: 100%;
	align-self: center;
	border: solid 5px #050505;
}

/*Animation keyframes*/
@keyframes slide{
	0%{
		transform: translateX(0);
	}
	20%{
		transform: translateX(0);
	}
	21%{
		transform: translateX(-100%);
	}
	40%{
		transform: translateX(-100%);
	}
	41%{
		transform: translateX(-200%);
	}
	60%{
		transform: translateX(-200%);
	}
	61%{
		transform: translateX(-300%);
	}
	80%{
		transform: translateX(-300%);
	}
	81%{
		transform: translateX(-400%);
	}
	99%{
		transform: translateX(-400%);
	}
	100%{
		transform: translateX(0);
	}
}
/* END SLIDESHOW */

#links {
	background-color: #999;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}

#linksList {
	width: auto;
	height: auto;
	padding: 25px;
	list-style-type: none;
}

#linksList li{
	width: 100%;
	min-width:fit-content;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #bababa;
	margin: 15px;
	border-top: solid 1px rgba(200, 200, 200, .15);
	border-left: solid 1px rgba(200, 200, 200, .15);
	border-bottom: solid 1px rgba(255, 255, 255, .2);
	border-right: solid 1px rgba(255, 255, 255, .2);
	box-shadow: -1px -1px 1px rgba(250, 250, 250, .2), 1px 2px 4px rgba(0, 0, 0, .4);
	border-radius: 2px;
}

#linksList li a{ 
	color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 30pt;
	font-weight: 900;
	text-shadow: 1px 0px 0px rgba(250, 250, 250, .3), -1px -1px 0px rgba(250, 250, 250, .1);
	display: block;
	background: linear-gradient(45deg, rgba(16,16,16,.7) 5%, rgba(0,7,93,.7) 25%, rgba(1,97,116,.7) 35%, rgba(5,135,59,.7) 45%, rgba(128,135,3,.7) 50%, rgba(143,121,5,.7) 55%, rgba(140,82,12,.7) 60%, rgba(31,7,85,.7) 75%, rgba(16,16,16,.7) 95%);
  	background-clip: text;
  	-webkit-background-clip: text;
}

#linksList li a:link {
	color: #212121;
	text-decoration:none;
}

#linksList li a:visited {
	color: #212121;
}

#linksList li a:hover {
	color: transparent;
  transition: 500ms ease;
	text-shadow: none;
}

#linksList li a:active {
	color:#cfc800;
	text-shadow: none;
}


#contact {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 9vh;
}

#contact h2 {
	font-size: 18pt;
	font-style: italic;
	font-weight: 600;
	padding-bottom: 15px;
}

#contact p {
	padding: 20px;
	font-family: 'Roboto Mono', monospace;
}

footer {
  	bottom: 0;
	min-height:80px;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#121212;
	color:#ebebeb;
	font: 10pt 'Roboto', sans-serif;
    text-align: center;
	padding-top:30px;
	background: linear-gradient(45deg, rgba(16,16,16,.2) 15%, rgba(0,7,93,.2) 30%, rgba(1,97,116,.2) 40%, rgba(5,135,59,.2) 45%, rgba(128,135,3,.2) 50%, rgba(143,121,5,.2) 55%, rgba(140,82,12,.2) 60%, rgba(31,7,85,.2) 65%, rgba(16,16,16,.2) 85%);
}


a:link {
	color:#fafafa;
	text-decoration:none;
}

a:visited {
	color:#fafafa;
}
	
a:hover {
	color:#cfc800;
}

a:active {
	color:#cfc800;
}