body {
	background-color: #ebebeb;
	margin:0px;
}
	  
#container {
	/*background-color: #ccc;*/
	background-image: url('../images/lrock002.jpg');
	background-repeat: repeat;
	min-width: 1100px;
	overflow:auto;
}
			
#header {
	font-family: "Arial Black", sans-serif;
	margin-left:0px;
	margin-right:0px;
	margin-top:-30px;
	padding:1px;
	background-color: #fff;
	height:auto;
	width: auto;
	text-align: left;
	border-bottom: #666 solid 1px;
	box-shadow: 0px 0px 20px #333;
	-moz-box-shadow: 0px 0px 20px #333;
	padding-left:50px;
}


/*ul#nav1 {
	width: 800px;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14pt;
	margin: auto;
}

ul#nav1 li a {
	text-decoration: none;
	width: 115px;
	background: #eee;
	color: #333;
	float: left;
	text-align: center;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #999;
	padding: 5px;
}

ul#nav1 li a:hover {
	background: #ddd;
	color: #333;
}*/

#leftnav {
	overflow:auto;
	float:left

}

ul#nav2 {
	width: 200px;
	list-style: none;
	font-family: "Arial Black", sans-serif;
	font-size: 12pt;
	margin-top:40px
}



ul#nav2 li.spade a:first-letter {
	font-size: 185%;
	font-family: "arial black", sans-serif;
}

ul#nav2 li a {
	text-decoration: none;
	width: 120px;
	background: #eee;
	color: #333;
	float: left;
	text-align: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	padding: 5px;
	margin-bottom:5px;	
}

/*ul#nav2 li.and {
	text-decoration: none;
	width: 120px;
	background: #eee;
	color: #333;
	float: left;
	text-align: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	padding: 5px;
	margin-bottom:5px;
}*/
	
ul#nav2 li a:hover {
	background: #ddd;
	color: #333;
}

#content {	
	height:auto;			
	width: 800px;
	min-width: 800px;
	overflow:hidden;
	float:left;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align: center;		  	
	padding: 30px; 
	margin-top: 40px;
	margin-bottom: 100px;
	margin-right:auto;
	margin-left:auto;
	background-color: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px #333;
	-moz-box-shadow: 0px 0px 15px #333;
}

#content p {
	text-align:left;
}

#content.contactForm {
	text-align:left;
}
	
#footer {	
	height: 100%;
	padding: 5px;
	padding-left:50px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #fff;
	margin-bottom: 0px;
	background-color: #555555;
	clear:both;
}
		
a:link {color:#736B34; text-decoration:none;}
a:visited {color:#736B34; text-decoration:none;}
a:hover {color:#A69A4B; text-decoration:none;}
a:active {color:#A69A4B; text-decoration:none;}


hr {
	height:0px;
	color:#f7f7f7;
}

table {
	margin-left:auto;
	margin-right:auto;
}

.logo {
	font-size: 36pt;
	font-family: "arial black", sans-serif;
	margin-bottom:-5px;
	margin-left:-20px;
}

.location {
	font-family:"arial black", sans-serif;
	font-size: 12pt;
	margin-top:0px;
}

.contactForm td{
	padding:5px;
}


.contactForm td em {
	color:#E5592E;
	font-size:9pt;
}
	
.contactForm td:first-child {
	text-align:right;
	background-color:#F7F7F7;
}


/*.nav {
	height:auto;
	width:auto;
	padding:5px;
	margin-left:
	margin-right:
	-moz-border-radius-bottom: 15px;
	border-radius: 15px;
}*/
	