body {
	  background-color: #FAF9F7;
	  } 
	  
#container{
		   background-color: #DFEDF7;
		   width:900px;
		   height:100%;
		   margin-left:auto;
		   margin-right:auto;
		   margin-bottom:0px;
		   box-shadow: 0px 0px 20px #1C1900;
		   -moz-box-shadow: 0px 0px 20px #1C1900;
		   border-left: #2b9ed6 solid 1px;
		   border-right: #2b9ed6 solid 1px;
		   border-top: #2b9ed6 solid 1px;
		   } 	  
			
#banner {
		 font-family: Optima, Palatino, Cambria, serif;
		 margin-top:0px;
		 margin-bottom:-35px;
		 padding-top:15px;
		 background-image: url('../images/rider_header_3.png');
	  	 background-repeat: no-repeat;
	  	 background-position:center;
		 height:110px;
		 width: 900px;
		 border-bottom: #2b9ed6 solid 2px;
		 }

#slogan	{
		 text-align:left;
		 color: #2b9ed6;
		 font-family: Optima, Palatino, Cambria, serif;
		 margin-bottom:10px;
		 margin-left: 342px;
		 }

#nav_top {
		  text-align:center;
		  font-family: Optima, Palatino, Cambria, serif;
		  color: #1C1900;
		  }
		  
#content {	
		  color: #1C1900;
	  	  font-family: Geneva, Tahoma, sans-serif;
	  	  text-align: center;		  	
	  	  padding: 25px;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 40px;
		  background-color: #FAF9F7;
		  height: auto;			
		  width: 500px;
		  border: #2b9ed6 solid 1px;
		  }
		  
#list {
	   text-align: left;
	   }
			 
#footer {	
		 height: auto;
		 width: 860px;
	 	 font-family: Optima, Palatino, Cambria, serif;
		 text-align: center;
		 color: #FAF9F7;
		 margin-bottom: 0px;
		 background-color: #1C1900;
		 /*border-top: #2b9ed6 solid 2px;*/
		 padding:20px 20px 0px 20px;
		 border-bottom: #2b9ed6 solid 1px;
		 }
		 
table {
	   text-align:left;
	   font-size: 8pt;
	   padding:5px;
	   /*border: #1C1900 solid 1px;*/
	   border-style: none;
	   border-collapse: collapse;
	   }
	   
th {
	text-align:center;
	font-size:10pt;
	/*border: #1C1900 solid 1px;*/
	}

td {
	border: #1C1900 solid 1px;
	}
	
p.small{
		font-size:6pt;
		}

a:link {color:#2b9ed6}
a:visited {color:#2b9ed6}
a:hover {color:#2b9ed6}
a:active {color:#2b9ed6}
