@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

body {
	  background-color: #1F1D1C;
	  margin:0px;
	  }
	  
#container {
			background-image: url('../images/wallpaper.jpg');
			background-repeat: no-repeat;
			background-position:center;
			}
			
#banner {
		 color: #F2DADE;
		 font-family: 'Tangerine', Times, serif;
		 font-size: 30pt;
		 margin-bottom:50px;
		 margin-top:0px;
		 padding:5px;
		 background-color: #1F1D1C;
		 height:auto;
		 width: auto;
		 text-align: center;
		 }

		 
#content {	
		  color: #1F1D1C;
	  	  font-family: Optima, Palatino, serif;
	  	  text-align: center;		  	
	  	  padding: 50px;
		  margin-left: auto;
		  margin-right: auto;
		  margin-bottom: 50px;
		  background-color: #F2DADE;
		  height:auto;			
		  width: 600px;
		  border: #d6d6d6 solid 1px;
		  box-shadow: 0px 0px 20px #262419;
		  -moz-box-shadow: 0px 0px 20px #262419;
		  }

#footer {	
		 height: auto;
		 padding: 5px;
	 	 font-family: Optima, Palatino, serif;
		 text-align: center;
		 color: #F2DADE;
		 margin-top: 5px;
		 clear: both;
		 background-color: #1F1D1C;
		 padding:20px;
		 }
		
a:link {color:#0198e1}
a:visited {color:#0198e1}
a:hover {color:#0198e1}
a:active {color:#0198e1}

table {
	   width: 600px;
	   border-collapse: collapse;
	   }
	   
table, th, td {	
			   padding: 20px;
			   background-color: #EBE7E1;
			   }
		
th {
	text-align: left;
	border: #999999 solid 1px;
	}
	
tr {
	font-family: Verdana, sans-serif;
	font-size: 8pt;
	text-align: left;
	}

td {
	border: #999999 solid 1px;
	}

