body {
	background-image: url('../images/bg.png');
	background-repeat: repeat;
	margin:0px;
}
	  
#container {
	width:1088px;
	height: auto;
	margin:auto;
	background-image: url('../images/Cbg.png');
	background-repeat: repeat;
	border-left:2px solid #555;
	border-right:2px solid #555;
	box-shadow:inset 0px 0px 15px #000;
	-moz-box-shadow:inset 0px 0px 15px #000;
}

#header {
	font-family: "Arial Black", sans-serif;
	height:185px;
	width:1088px;
	text-align: center;
	background-image: url('../images/metalRoofsHeader.png');
	background-repeat: repeat-x;
	-moz-border-bottom-right-radius: 50px;
	-moz-border-bottom-left-radius: 50px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom:40px;
	box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	/* internet explorer transparency 
  	filter:alpha(opacity=90);
 	 default/standard transparency 
  	opacity:.90;*/
}

/* Steve here is where the menu css starts*/

#nav{
	width:auto;
	margin-top:-20px;
	border-top: 2px solid #eee;
}

#nav ul{
	padding:0;
	margin:0;
}

#nav li{
	position: relative;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
	width:auto;
	height:auto;
}

#nav li a{
	height: 30px;
	text-decoration:none;
	text-align: center;
	/*background-image: url('../images/metalRoofsMenu.png');
	background-repeat: repeat-x;*/
	color: #fff;
	padding: 5px 7px 0px 7px;
	display:block;
  	font-family: Verdana, sans-serif;
    font-size:11pt;
    text-shadow: 2px 2px 2px #000;
}

#nav li a:hover{
	background-image: url('../images/metalRoofsMenuHover.png');
	background-repeat: repeat-x;
}

#nav li.home a:hover{
	border-bottom-left-radius: 25px;
}

#nav li.contact a:hover{
	border-bottom-right-radius: 25px;
}

#nav ul ul{
	top: inherit; 
	visibility: hidden;
	padding:0;
	margin:0;
	position:absolute;
} 

#nav li li{
	clear:both;
	padding:0;
	margin:0;
} 

#nav ul li:hover ul{
	visibility:visible;
	background-image: url('../images/metalRoofsMenuHover2.png');
	background-repeat: repeat-x;
	width:100%;
}

#nav ul li:hover li{
	width:inherit;
}

/* and it ends here, and whatever nav stuff is commented out below this comment, well I honestly don't remember exactly what it is right now, possibly a previous attempt... */

/*#nav {
	float:left;
	width:100%;
	margin-left:20px;
	list-style:none;
}

#nav ul {
	border-bottom: 1px solid #007f0b;
	list-style: none;
    margin: 0;
    width: 160px;
    box-shadow: 0px 2px 5px #000;
	-moz-box-shadow: 0px 2px 5px #000;
}

#nav ul li {
    position: relative;
    display:inline;
}

#nav li ul {
    display: none;
    top: 0;
}

#nav ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url('../images/metalRoofsMenu.png');
	background-repeat: repeat-x;
    border-color: #007f0b #007f0b;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #fff;
    display: inline;
    padding: 5px;
    text-decoration: none;
	font-family: Optima, Palatino, serif;
    font-size:11pt;
}

#nav * html ul li {
    height: 1%;
}

#nav * html ul li a {
    height: 1%;
}

#nav ul li a:hover {
    background: none repeat scroll 0 0 #fff;
    color: #007f0b;
}

#nav li ul li a {
    padding: 2px 5px;
}

#nav li:hover ul, li.over ul {
    display: inline;
}
*/

/* Steve this nav 2 stuff is just the advertisements on the right side, not the menu*/

#nav2 {
	float:right;
	width: 200px;
	margin-right:60px;
}

#nav2 ul{
	list-style:none;
}
	
#nav2 li{
	width:200px;
	margin-bottom: 40px;
	text-align:center;
}
	
#content {
	color: #222;
  	font-family: Verdana, sans-serif;
	text-align: center;		  	
	padding: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
	height:auto;			
	width: 765px;
	background-color: #eee;
}

#footer {	
	height: auto;
	width:1078px;
	padding: 5px;
	font-family: Optima, Palatino, serif;
	text-align: center;
	color: #fff;
	background-image: url('../images/metalRoofsFooter.png');
	background-repeat: repeat-x;
	-moz-border-top-right-radius: 50px;
	-moz-border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;

  	box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
}
		
/*a:link {color:#}
a:visited {color:#}
a:hover {color:#}
a:active {color:#}*/


p {
	font-size: 12pt;
}

.header {
	font-size: 36pt;
	font-family: "arial black", sans-serif;
}
		
.contactForm h2, h3{
	text-align:center;
}
	
.contactForm td{
	padding:5px;
}

.contactForm td em {
	color:#E5592E;
	font-size:9pt;
}
	
.contactForm td:first-child {
	text-align:right;
	background-color:#fff;
}

#content.contactForm {
	text-align:left;
}

#content p {
	text-align:left;
}

.testimonials h3, a {
	text-align:left;
}

#content.index {
 background-color: transparent;
}

/*#content.index img {
}*/

